# Xcode user-specific files
xcuserdata/
*.xcuserstate
DerivedData/
build/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
Packages/
*.xcodeproj/project.xcworkspace/xcuserdata/

# CocoaPods (not used here, but just in case)
Pods/
Podfile.lock

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# macOS
.DS_Store
